.product-container {
    width: calc(100vw - 40px);
    margin: 40px auto;
}

.product-general {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-general>div {
    width: 50%;
    max-width: 540px;
    min-width: 380px;
}

.product-main-img {
    display: flex;
    justify-content: center;
}

.product-main-img>img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    border-radius: 4px;
}

.product-aditional-imgs {
    width: 100%;
    margin: 0 auto;
    max-width: 460px;
    min-width: 289px;

    overflow: hidden;

    display: flex;
    justify-content: baseline;
    padding: 15px 0;
}

.product-aditional-img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}
.aditional-img {
    cursor: pointer;
    max-height: 100%;
    min-width: 100%;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .product-general>div {
        min-width: 80%;
    }

    .product-main-img {
        justify-content: center;
    }
}


@media (max-width: 400px) {
    .product-general>div {
        min-width: 100%;
    }

    .product-aditional-imgs {
        min-width: 100%;
    }

    .product-aditional-img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }
}