.container {
    min-height: 50vh;
    margin-bottom: 30px;
    padding: 0 15px
}

.container > h1 {
    margin: 30px 0 5px;
    text-align: center;
}
.container > p {
    margin-bottom: 30px;
    text-align: center;
}

.container > p > button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s ease;
}

.container > p > button:hover {
    color: #DE560B;
}

.user-infos {
    padding: 15px 30px;
    border-radius: 6px;
    margin: 0 auto;
    width: calc(100% - 60px);
    max-width: 440px;
    background-color: rgb(252, 237, 217);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-infos h2 {
    padding-bottom: 15px;
    text-align: center;
}


.user-infos h3 {
    margin: 20px 0 5px;
}

.user-infos *:disabled {
    background-color: white;
}


.user-infos input,
.user-infos select {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
    width: calc(100% - 30px);
}
.user-infos select {
    width: 100%;
    background-color: white;
}

.user-infos input:focus,
.user-infos select:focus {
    box-shadow: 0 0 10px rgba(222, 85, 11, 0.4);
}

.error-message {
    font-size: .8em;
    color: rgb(248, 79, 79);
}

.user-infos div:last-child {
    font-size: 1em;
}

.success-message {
    font-size: 1em;
    color: rgb(26, 136, 26)
}

.user-infos button {
    margin: 15px 0 10px;
    width: 100%;
    background-color: rgb(13, 114, 177);
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.user-infos button:hover {
    background-color: rgb(13, 114, 177, .9);
}

.user-infos button:active {
    background-color: rgb(13, 114, 177, .95);
}

.user-address-hidden {
    display: none;
}