.container {
    min-height: 40vh;
    text-align: center;
    margin-bottom: 40px;

}

.container > h1 {
    margin: 30px 20px;
}

.container > a {
    background-color: #DE560B;
    color: white;
    padding: 12px 30px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    border-radius: 8px;
}

.container > a:hover {
    background-color: rgb(222, 86, 11, .9);
}

.container > a:active {
    background-color: rgb(222, 86, 11, .95);
}

.on-sale-sort {
    display: flex;
    justify-content: center;
}

.on-sale-sort * {
    margin: -0.5px;
    padding: 7px;
}

.on-sale-sort p {
    border-radius: 4px 0 0 4px;
    border: 1px solid #c4c4c498;
    border-right: none;
}

.on-sale-sort select {
    border-radius: 0 4px 4px 0;
    border: 1px solid #c4c4c498;
    border-left: none;
    cursor: pointer;
}

.on-sale-products {
    margin: 30px auto;
    width: calc(100% - 60px);
    max-width: 1000px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.on-sale-products p {
    width: 100%;
    height: 100%;
}

.on-sale-product {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.on-sale-product * {
    margin-bottom: 5px;
    font-size: 18px;
}

.product-img {
    width: 100%;
    border-radius: 4px;
}

.product-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-real-price {
    font-size: 20px;
    color: #DE560B;
    padding: 0 3px;
}

.product-price-no-discount {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
    padding: 0 3px;
}

.on-sale-pages {
    display: flex;
    justify-content: center;
}

.on-sale-pages button {
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 5px;
}

.on-sale-again {
    display: block;
    margin: 20px auto;
    position: relative;
    width: calc(100% - 40px);
    max-width: 320px;
    padding: 20px;
}

.on-sale-again-input {
    width: calc(100% - 60px);
    padding: 12px 40px 12px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.on-sale-again-input:focus {
    box-shadow: 0 0 10px rgba(222, 85, 11, 0.5);
}

.on-sale-again-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
}

.on-sale-again-button img {
    width: 24px;
    height: 24px;
}

@media (max-width: 800px) {
    .on-sale-products {
        grid-template-columns: 1fr 1fr;
        margin: 15px auto;
    }
}

@media (max-width: 450px) {
    .on-sale-products {
        grid-template-columns: 1fr;
    }
}