.product-container {
    width: calc(100vw - 40px);
    margin: 40px auto;
}

.product-general {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-general>div {
    width: 50%;
    max-width: 540px;
    min-width: 380px;
}

.product-main-img {
    display: flex;
    justify-content: center;
}

.product-main-img>img {
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 450px;
    border-radius: 4px;
}

.product-aditional-imgs {
    width: 100%;
    margin: 0 auto;
    max-width: 550px;

    overflow: auto;

    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.product-aditional-imgs:empty {
    display: none;
}

.product-aditional-img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 6px;
    border: 2px solid transparent;
}

.aditional-img {
    border-radius: 4px;
    cursor: pointer;
    max-height: 100%;
    min-width: 100%;
}

.product-cart {
    margin: 150px 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 555.5px;
}

.product-cart>div {
    margin-bottom: 30px;
}

.product-data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
}

.product-data>div {
    margin-bottom: 20px;
}

.product-name {
    font-size: 28px;
}

.product-real-price {
    font-size: 28px;
    color: #DE560B;
}

.product-price-no-discount {
    font-size: 16px;
    text-decoration: line-through;
    color: gray;
}

.product-payments>div {
    width: 100%;
    border: 1px solid #22222244;
    padding: 5px;
}

.product-payments .payment-cards {
    border-radius: 4px 4px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.payment-card {
    margin-right: 5px;
    width: 36px;
    border-radius: 4px;
    height: 24px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-card>img {
    height: 100%;
}

.product-payments .payment-options {
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
}

.x-12>span {
    font-weight: bold;
}

.x-all-installments>span {
    text-decoration: underline;
    cursor: pointer;
}

.x-all-installments>span:hover {
    color: #DE560B;
    transition: all 300ms ease-in-out;
}

.x-all-installments>span:active {
    color: #a1400c;
    transition: none;
}

.all-payments-and-installments {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.94);
    z-index: 2;
    transition: all 300ms ease-in-out;
}
.all-payments {
    position: relative;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
}
.all-payments-close {
    font-size: 20px;
    line-height: 20px;
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background-color: #ffffff00;
}

.all-payments-close:hover {
    transition: all 300ms ease-in-out;
    border: 1px solid #DE560B;
    border-radius: 4px;
    transform: scale(1.25);
}

.all-payments p {
    margin-bottom: 20px;
    font-size: 22px;
}
.all-payments-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.all-payments-table > table {
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
}
.all-payments-table td {
    padding: 5px 0;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.all-payments-table .no-border {
    border: none;
}

.all-payments-table span {
    font-weight: bold;
}

.product-buy {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.product-quantity {
    width: 20%;
    letter-spacing: 0;
    display: flex;
}

.product-quantity * {
    border: none;
    outline: none;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-sub,
.quantity-add {
    color: #DE560B;
    cursor: pointer;
    height: 100%;
    width: 30%;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-sub:hover,
.quantity-add:hover {
    background-color: rgb(233, 233, 233);
}

.quantity-sub:active,
.quantity-add:active {
    background-color: rgb(240, 240, 240);
}

.quantity-sub {
    border-radius: 4px 0 0 4px;
}

.quantity-add {
    border-radius: 0 4px 4px 0;
}

.quantity-actual {
    height: 100%;
    width: 40%;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.product-add-cart>button {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #DE560B;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.product-add-cart>button:hover {
    background-color: #ec661e;
    transition: all 100ms ease-in-out;
}

.product-add-cart>button:active {
    background-color: #DE560B;
}

.product-information>input {
    display: none;
}

.product-information {
    margin: 0 auto;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.product-information * {
    margin: 0 auto 25px;
    width: calc(100% - 40px);
}

.option-select {
    margin-top: 30px;
    width: calc(100% - 80px);
    border-bottom: 1px solid black;
}

.option-select>label {
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px 4px 0 0;
    padding: 0 2px;
}

.option-select>label:hover {
    border-bottom: 1px solid #222;
    background-color: #222;
    color: white;
    transition: all 300ms ease-in-out;
}

.product-description,
.product-shipping,
.product-guarantee {
    display: none;
}

#description:checked~.product-description,
#shipping:checked~.product-shipping,
#guarantee:checked~.product-guarantee {
    display: block;
}

#description:checked~div>.description-option,
#shipping:checked~div>.shipping-option,
#guarantee:checked~div>.guarantee-option {
    border-bottom: 1px solid #222;
    background-color: #222;
    color: white;
}

@media (max-width: 800px) {
    .product-general>div {
        min-width: 80%;
    }

    .product-main-img {
        justify-content: center;
    }

    .product-cart {
        margin: 60px 0 auto;
    }

    .product-information * {
        width: calc(100% - 20px);
    }

    .option-select {
        width: calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    .product-aditional-imgs {
        justify-content: flex-start;
    }
}

@media (max-width: 400px) {
    .product-general>div {
        min-width: 100%;
    }

    .product-aditional-imgs {
        min-width: 100%;
    }

    .product-aditional-img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .product-cart {
        margin: 20px 0 auto;
    }

    .product-name {
        font-size: 24px;
    }

    .product-quantity {
        width: 25%;
    }

    .product-information * {
        width: 100%;
    }

    .option-select {
        width: 100%;
    }

    .payment-card {
        height: 20px;
        width: 30px;
    }

    .payment-options {
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    .payment-cards {
        flex-wrap: wrap;
    }
    .payment-card {
        height: 18px;
        width: 27px;
    }
}