.container {
    min-height: 40vh;
    margin: 30px auto;
    padding: 0 30px;
}

.container>h1 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-general {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cart-general > p{
    text-align: center;
    padding-bottom: 10px;
}

.cart-general > a {
    background-color: rgb(13, 114, 177);
    text-align: center;
    margin: 15px auto 0;
    padding: 12px 25px;
    color: white;
    border-radius: 6px;
}

.cart-general > a:hover {
    background-color: rgb(13, 114, 177, .9);
}

.cart-general > a:active {
    background-color: rgb(13, 114, 177, .95);
}

.cart-products {
    border-radius: 12px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

.cart-product {
    display: flex;
}

.cart-product:not(:last-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 20px;
}

.cart-product:not(:first-child) {
    padding-top: 20px;
}

.cart-product>a>img {
    width: 160px;
    margin-right: 20px;
    border-radius: 6px;
}

.cart-product strong {
    font-size: x-large;
}

.cart-product-infos>*:not(:last-child) {
    margin-bottom: 10px;
}

.product-price {
    color: #DE560B;
}

.cart-product small {
    text-decoration: line-through;
    color: #a1a1a1;
}


.cart-product-quantity {
    height: 33px;
    width: 90px;
    display: grid;
    grid-template-columns: .9fr 1.2fr .9fr;
}

.cart-product-quantity>* {
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-size: 18px;
}

.product-quantity-sub {
    border-radius: 6px 0 0 6px;

}

.product-quantity-add {
    border-radius: 0 6px 6px 0;
}

.product-quantity-sub,
.product-quantity-add {
    cursor: pointer;
    color: #DE560B;
}

.product-quantity-sub:hover,
.product-quantity-add:hover {
    background-color: rgb(233, 233, 233);
}

.product-quantity-sub:active,
.product-quantity-add:active {
    background-color: #f1f1f1;
}

.product-quantity-sub > img {
    height: 16px;
    width: 16px;
}

.cart-checkout {
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cart-checkout>* {
    padding-bottom: 10px;
}

.total-price {
    color: #DE560B;
}

.total-price-no-discount {
    text-decoration: line-through;
    color: #a1a1a1;
}

.cart-checkout>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    color: white;
    background-color: rgb(13, 114, 177);
}

.cart-checkout>a:hover {
    background-color: rgb(13, 114, 177, 0.9);
}

@media (max-width: 800px) {
    .cart-general {
        flex-direction: column-reverse;
    }
    .cart-general > * {
        margin-bottom: 30px;
    }
    .cart-products {
        width: calc(100% - 60px);
    }
    .cart-checkout {
        margin: 0 60px 20px;
    }
}

@media (max-width: 550px) {
    .cart-checkout {
        margin: 0 0 20px;
    }
    .cart-product {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .cart-product > a > img {
        width: 100%;
        max-width: 300px;
        margin: 0 0 10px;
    }
    .cart-product-quantity {
        margin: 10px auto 0;
    }
}